doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/iphone.css')
    link(rel='stylesheet', href='/stylesheets/controls.css')
  body
    block content
    script(src="/vendor/angular.min.js")
    script(src="/javascripts/premade_app_list.js")
    script(src="/javascripts/iphone_controller.js")
    script(src="/javascripts/github_controller.js")
    script(src="/javascripts/github_service.js")
    