.iphone .battery-icon {
  position: relative;
  right: 10px;
  top: 2px;
  .outline {
    height: 19px;
    width: 45px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 1px;
    position: relative;
    .filling {
      height: 100%;
      width: 19%;
      background-color: white;
      border-radius: 1px;
    }
    .low-battery {
      background-color: red;
    }
  }
  .topper {
    position: absolute;
    height: 8px;
    width: 3px;
    background-color: white;
    border-radius: 0px 1000px 1000px 0px;
    right: -4px;
    top: 7px;
  }
}