.iphone .col {
  float: left;
  width: 175px;
  height: 16%;
  text-align: center;
  .app-icon {
    display: inline-block;
    margin-top: 8px;
    position: relative;
    cursor: pointer;
    .icon-img {
      position: relative;
      background-color: #000;
    }
    .icon-img.pressed {
      filter: brightness(0.8);
      -webkit-filter: brightness(0.8);
    }
    .delete-btn {
      color: black;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #aaa;
      left: -10px;
      top: -10px;
      border-radius: 1000px;
      display: none;
      span {
        font-size: .7em;
        position: relative;
        left: 1px;
        top: -2px;
      }
    }
    .badge {
      position: absolute;
      right: -12px;
      top: -12px;
      height: 40px;
      padding-right: 12px;
      padding-left: 12px;
      border-radius: 1000px;
      background-color: red;
      span {
        position: relative;
        top: 4px;
        left: 1px;
      }
    }
    .icon-img {
      display: inline-block;
      width: 125px;
      height: 125px;
      border-radius: 25px;
      background-size: cover;
      background-position: center;
    }
  }
}