.iphone.delete-mode .app-icon {
  animation: shake .5s infinite;
  .delete-btn {
    display: block;
  }
}

$shakeDeg: 1deg;

@keyframes shake {
  0%, 50%, 100% {
    -ms-transform: rotate($shakeDeg); /* IE 9 */
    -webkit-transform: rotate($shakeDeg); /* Chrome, Safari, Opera */
    transform: rotate($shakeDeg);
  }
  
  25%, 75% {
    -ms-transform: rotate(-$shakeDeg); /* IE 9 */
    -webkit-transform: rotate(-$shakeDeg); /* Chrome, Safari, Opera */
    transform: rotate(-$shakeDeg);
  }
}